body {
    background-color: rgba(200, 200, 200, 0.7);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
header {
    background-color: red;
    grid-column: 1 / 3;
}
nav {
    background-color: white;
    grid-column: 1 / 3;
}
nav ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
}
nav li {
    margin-left: 10px;
    margin-right: 10px;
}
main {
    background-color: yellow;
}
aside {
    background-color: hotpink;
}
footer {
    background-color: green;
    grid-column: 1 / 3;
}
